.logo{
    background-color: #d47171;
}
.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    top: 10px;
    right: 0;
    background-color: #d47171;
    padding-left:10px ;
    padding-right:10px ;
}

.sidebar> h2{
    text-align: center;
}

 .new{
  display: block;
  text-align: center;
  margin: 10px;
 
 
}